
#h1 {
    font-size: 2.2em;
    text-align: center;
    font-weight: 400;
}

body {
    padding: 5%;
    padding-top: 5px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.container {
    padding: 0%;
}

h5 {
    padding-right: 40%;
    font-size: 1.2em;
    font-weight: 300;
}



#options div{
      outline: 0;
      background: #00695c ;
      padding: 10px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      margin: 2px;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table,tr,td {
    border-bottom: 1px solid black;
}

th,td {
    padding: 15px 2px 15px 5px;
}

.falseBtn {
    float: left;
    margin-left: 15%;
    background-color: #c62828;
    padding: 0 15px 0 15px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    cursor: pointer;
    
}
.trueBtn {
    float: right;
    margin-right: 15%;
    background-color: #00695c;
        padding: 0 15px 0 15px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    cursor: pointer;
}

.falseBtn:hover {
    background-color: #d32f2f ;
    
}
.trueBtn:hover {
    background-color: #00796b;
}

.falseBtn:active {
    background-color: #c62828;
}
.trueBtn:active {
    background-color: #004d40;
}

tr:nth-child(even) {background-color: #f2f2f2}


img {
    margin-top: 25px;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-height: 15px;
    padding: 20px;
}


.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #006064;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fafafa;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


tr:nth-child(even) .loader:after{
    background-color: #f2f2f2
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader {
    padding-left: 43%;
    overflow: hidden;
    text-align: center;
    align-content: center;
}

.true {
   color: #2e7d32;
   font-weight: bold;
}

.false {
    color: #d32f2f;
    font-weight: bold;
}
